{% extends 'base.html.twig' %}


{% block simple %} {% endblock %}
{% block body %}


<h1 class="w3-teal"> les Acteurs qui joue dans un film donnée </h1>

<form  action="" method = "post" >

<label for="titre">Titre</label>
<input type="text" name="titre" > </input><br>
<input type="submit" value="rechercher">  </input><br>

</form>

{% endblock %}